<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectbabylon.readme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/search_activity_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="projectbabylon.readme.LauncherActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartActivity" />
        </activity>
        <activity
            android:name="projectbabylon.readme.FeedActivity"
            android:label="@string/title_activity_feed"
            android:parentActivityName="LauncherActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LauncherActivity" />
        </activity>
        <activity
            android:name="projectbabylon.readme.ReadActivity"
            android:label="@string/title_activity_read"
            android:parentActivityName="FeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="FeedActivity" />
        </activity>
        <activity
            android:name="projectbabylon.readme.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
